body{
    font-family: 'Nunito', sans-serif;
}
/* //navbar Start/ */
#navbar-menu .navbar{
    background-color: transparent;
    left: 0;
    right: 0;
    z-index: 999;
    position: absolute;
    transition: all 0.5s;
    height: 100px;
    font-family: 'Nunito', sans-serif;
}
.navbar-menu-others{
    background-color: white;
    left: 0;
    right: 0;
    z-index: 999;
    position: absolute;
    transition: all 0.5s;
    height: 80px ;
    transition: all 0.5s;
}

#navbar-menu .navbar-brand .icon{
   margin-top: 3px;
   margin-right: 80px;
    
}

.collapse li a{
    text-decoration: none;
    color:#6F8BA4 !important; 
    margin-top: 5px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 14px;
   
}
   
    #navbar-menu .navbar .buttons{
    display: flex;
    margin-right: 5px;
    margin-top: 15px;
    list-style-type: none;
    text-decoration: none;
    }
    #navbar-menu .navbar .buttons a{
        padding: 3px 30px;
        margin: 5px;
        font-size: 14px;
    }
    #navbar-menu .navbar .buttons #up{
        background-color: #1A153A;
        border: 1px solid #1A153A;
        color: white !important;
        transition: 0.3s;
    }
    #navbar-menu .navbar .buttons #upDiffer{
        background: linear-gradient(135deg, #1A153A 0%, #565178 100%);
        color: white;
    }
    #navbar-menu .navbar .buttons #up:hover{
        background-color: white !important;
        color: #1A153A !important;
    }
    #navbar-menu .navbar .buttons #in{
        background-color: white;
        color: #1A153A !important;
    }
    #navbar-menu .navbar .buttons #in:hover{
        background-color: #1A153A;
        color: white !important;
    }

    /* navbar end */

   /* industry learning Start */
 #text .text-area{
    padding-top: 250px;
    padding-left: 50px;
}
#text .leading h1 {
    color: #1E3056;
    font: 28px "Nunito", sans-serif;
    margin: 0px 0px 20px;
    line-height: 1.5;
}
#text .leading span{
    color: #697BA2;
    margin: 0px 0px 40px;
    font: 16px "Nunito", sans-serif;
}
#text .leading p{
font-weight: 400;
font-size: 16px;
color: #697BA2;
line-height: 28px;
letter-spacing: 1px;
margin-bottom: 40px;
position: relative
}

#text .leading .btn-primary{
color: #FFFFFF;
font: 12px "Nunito", sans-serif;
background-color: #1A153A;
height: 44px;
width:170px;
line-height: 2;
font-size: 12px;
font-weight: bold;
}
   /* industry learning END*/

   /* Grid start */
   #grid .item-grid {
  position: relative;
  width: 100%;
}
#grid .item-grid img {
    width: 265px;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
#grid .item-grid{
    margin-left: 100px;
    display: grid;
    grid-template-areas: 
    'item1 item2'
    'item1 item4'
    'item3 item4'
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
#grid .item-grid .item{
    margin: 6px;
    border-radius:5px;
    overflow: hidden;
}
#grid .item-grid .item img:hover{
    transform: scale(1.1);
    transition:0.5s;
}
#grid .item-grid .item3{
    position: relative;
}
#grid .item-grid .item3 .play-icon btn{
position: absolute;
top: 25%;
left: 40%;
border: 1px solid white;
border-radius: 50%;
width: 60px;
height: 60px;
background: #ffffff2e;
cursor: pointer;
}
#grid .item-grid .item3 .play-icon i {
position: absolute;
font-size: 25px;
color: white;
left: 35%;
top: 30%;  
}
#grid .item-grid.image .content{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1A153A;
    height: 100%;
    border-radius: 5px;
    opacity: 0.8;
    color: white;
    padding: 100px 15px;
    line-height: 30px;
    font-size: 20px;
} */

   /* #image .container{
       max-width: 100%;
       text-align:justify;
   }
   #image .container .image{
position: relative;
   }
   #image .container .image::after{
   content: ("");
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: left;
opacity: 0.5;

    width: 100%;
   height: 100%;
   border-radius: none;
   column-gap: 10px;
    padding: 0 4px;
   }
   #image .container .image-3{
    position: relative;
       }
       #image .container .image-3::after{
       content: ("");
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       text-align: left;
       background: #1A153A;
        color: #fff;
    opacity: 0.5;
       }


  
   #image .container .image-3 .play-button-wrapper .fa{
       position: absolute;
       left:50%;
       right: 50%;
       z-index: 1;
       width: 20px;
       height: 20px;
       background: #fff;
       opacity: .25;
       z-index: 1;
       border-radius: 50%;
       color: white;
       border: white;
       line-height: 20px;
       display: inline-block;
       text-align: left;
       padding-left: 50px; */
 
 
/* /*   Services START  */
#packages .card{
    border-radius: 5px;
    border: none;
    line-height: 1.5;
    align-self: center;
    text-align: center;
    left: top;
    width: 210px;
    height: 285px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
   }
   #packages .card:hover{
    line-height: 1.5;
    text-align: center;
    background-color:#1A153A;
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    }
    #packages .card:hover h5{
        color: #fff;
    }
    #packages .card:hover p{
        color: #fff;
    }
    #packages .card p {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.88px;
    line-height: 26px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;

}
.text{
    padding-left: 30px;
    padding-right: 30px;
}
#packages .card h5{
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#packages .card .features{
    text-decoration: none
}
#packages .card .circle{
    border-radius: 50%;
    color: black;
    width: 67px;
    height: 67px;
    line-height: 70px;
    position: relative;   
    background: #F7F6FF;
    align-self: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 30px 30px;
}

/* /*   Services END  */
  
  

  





   
    
   



